
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
build/
build-templates/
local/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/